html,
body {
	
}

.MineTBHeader {
    font-size: 20px;
	font-family: 'Open Sans';
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	color: #F58220;
}

.ReportHeader {
    font-size: 25px;
	font-family: 'Open Sans';
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	color: #9bc041;
}

.ChartHeader {
    font-size: 18px;
	font-family: 'Open Sans';
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
}

.rootPanel{
	margin: 5px;
	font-family: 'Open Sans';
	background-color: white;
}

.gwt-Label {
color: Black;
float: left;
font-size: 15px;
margin: 10px 10px 10px 10px !important;
}

.gwt-TextBox {
  padding: 10px !important;
  border: none !important;
  border-bottom: solid 2px #c9c9c9 !important;
  transition: border 0.3s !important;
  background-color: white !important;
  width: 180px !important;
  font-size: 15px !important;
}

.gwt-PasswordTextBox {
  border: none !important;
  border-bottom: solid 2px #c9c9c9 !important;
  transition: border 0.3s !important;
  background-color: white !important;
  width: 190px !important;
  font-size: 15px !important;
}

.gwt-Button {
  -webkit-border-radius: 28 !important;
  -moz-border-radius: 28 !important;
  border-radius: 28px  !important;
  border-color: #9bc041 !important;
  font-family: 'Open Sans' New !important;
  color: #ffffff !important;
  font-size: 15px !important;
  background: #9bc041 !important;
  padding: 5px 20px 5px 20px !important;
  text-decoration: none !important;
  margin: 10px 5px 0px 0px !important;
  font-weight: bold;
}
.gwt-Button:hover {
  background: #ffffff !important;
  color: #9bc041 !important;
  border-color: #ffffff !important;
  text-decoration: none;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted solid dashed;
    border-width: 1px;
    color: #F58220;
}

.gwt-ListBox {
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
   	border-radius: 7px;
   	height: 29px;
   	width: 150px;
   	background: url(http://i63.tinypic.com/kao3n6.png) no-repeat 96% center;
   	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   	border: solid 2px #c9c9c9;	
   	padding-left: 5px;
   	background-color: #E8E8E8;
}

.logout-button {
	color: #9bc041;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
	cursor: default; 
}

.logout-button:hover {
	color: #F58220;
}

.orange-text {
	color: #F58220;
}

.green-text {
	color: #9bc041;
}

.bold-orange-text{
	color: #F58220;
	font-weight: bold;
}

.bold-green-text{
	color: #9bc041;
	font-weight: bold;
}

.columnheaderStyle
{
	background-color: #4973AB;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

.oddColumnStyle{
	background-color: #BCD2EE;
	padding-left: 5px;
	padding-right: 5px;
}

.evenColumnStyle{
	background-color: #CAE1FF;
	padding-left: 5px;
	padding-right: 5px;
}

.gridNumberStyle{
	text-align: right;
	width: 100px;
	padding-right: 2px;
}

.gridPercentageStyle{
	text-align: right;
	width: 70px;
	padding-right: 2px;
}

.rightmenuitem{
	flaot: right;
}

.leftmenuitem{
	float: left;
}

.current-page {
	color: #9bc041;
	text-align: right;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	cursor: default;
	font-size: 15px !important;
}

.current-page:hover {
	color: #F58220;
}

.different-page {
	color: #9bc041;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	cursor: default;
	font-size: 15px !important;
}

.different-page:hover {
	color: #F58220;
}

.closeButton {
  -webkit-border-radius: 35 !important;
  -moz-border-radius: 35 !important;
  border-radius: 35px !important;
  border-color: #9bc041 !important;
  font-family: 'Open Sans' New !important;
  color: #ffffff !important;
  font-size: 10px !important;
  background: #9bc041 !important;
  font-weight: bold;
}
.closeButton:hover {
  background: #ffffff !important;
  color: #9bc041 !important;
  border-color: #ffffff !important;
}

.gwt-TabBar {
  background-color: #e8e8e8 !important;
}

.gwt-TabBarItem-selected {
  font-weight: bold;
  cursor: default;
  background-color: #F58220 !important;
}

.Option-Panel {
           
            margin-left: auto ;
            margin-right: auto ;
            border: 1px solid black;
            padding: 10px;
            margin-bottom:6px;
            margin-top:6px;
        }
        
.Option-Panel:hover {
            border: 1px solid #9bc041;
        }
        
    



